@media screen and (max-width: 1100px) {
    /* .banner{
        flex-grow: 1;
        overflow-y: auto; /* Add scrollbars when content exceeds viewport height */
        /* height: 100vh; */
    /* }  */
    .logo-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        /* border: 5px solid red; */
        width: 90%;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbar ul{
        margin: 20px 0px;
        /* border: 5px solid red; */
        padding: 0;
    }

    .banner video{
        height: 100vh;
    }
    
    #search-list li{
        justify-content: space-between;
        flex: 0 0 calc(100% - 20px); 
    }
}

@media screen and (max-width: 450px) {
    .logo-container h2{
        font-size: 2rem;
    }

    .search input{
        font-size: 1rem;
    }
    .search button{
        font-size: 0.7rem;
    }
    /* .banner{
        flex-grow: 1;
        overflow-y: auto; 
        height: 100vh;
    } */
    .banner video{
        height: 100vh;
    }
}